.container{
    height: 100%;
}
/*nav start*/
/*nav 1024px start*/
.navbar{
    background: #444444;
    width:80px;
    height:100%;
    position: fixed;
    box-shadow: 1px 0 1px #ccc;
}
.nav-logo{
    float: left;
    width: 50px;
    margin: 15px 15px;
}
.nav-logo img {
    display: block;
}
.nav-menu{
    width: 100%;
    height: 100%;
    float: left;
    background: #FFFFFF;
}
.nav-menu li{
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
}
.nav-menu li:hover{
    background-color:#CCCCCC;
}
.nav-menu li::after{
    content: '';
    display: block;
    width: 50px;
    margin-top: 5px;
    margin-left: 15px;
    border-bottom:2px solid #000 ;
}
.nav-menu li img{
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto;
}
.nav-logo img{
    width: 100%;
}
/*nav 1024px finish*/
/*nav 960px start*/
/*nav 960px finish*/
/*nav 480px start*/
@media screen and (max-width: 480px) {
    .navbar{
        background: #455871;
        width:100%;
        height:80px;
        position: fixed;
        bottom: 0;
    }
    .nav-logo{
        display: none;
    }
    .nav-menu li{
        font-size: 15px;
        text-align: center;
        width: 33.3333333%;
        margin-top: 15px;
        float: left;
    }
    .nav-menu li:hover{
        background-color:#fff;
    }
    .nav-menu li::after{
        display: none;
    }
}


/*nav 480px finish*/

/*nav finish*/
/*content start*/
/*content 1024 start*/
.content{
    margin-left: 80px;
    height: 100%;
}
#content-intro{
    background: url("../images/per_intro.jpg") no-repeat;
    -webkit-background-size:100%;
    background-size:100%;
    padding-top: 56%;
    position: relative;
}
#content-intro span{
    color: white;
    position: absolute;
    top:0;
    left: 0;
}
#content-intro div{
    width: 480px;
    height: 200px;
    color: #fff;
    font-size: 20px;
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}


/*content 1024 finish*/
/*content 960 start*/


/*content 960 finish*/
/*content 480 start*/
@media screen and (max-width: 480px){
    .content{
        margin-left: 0;
        height: 100%;
    }
    #content-intro{
        background: url("../images/per_intro.jpg") no-repeat;
        -webkit-background-size:100%;
        background-size:100%;
        padding-top: 56%;
        position: relative;
    }
    #content-intro span{
        color: white;
        position: absolute;
        top:0;
        left: 0;
    }
}



/*content 480 finish*/
/*content finish*/